<!DOCTYPE html>
<html>
<head>
    <title>Radio Ultra Song Crawler</title>
</head>
<body>
    <h1>Welcome to Radio Ultra Song Crawler!</h1>
    <a type="button" href="/db_songs">Song database</a>
    <br>
    <a type="button" href="/youtube_songs">YouTube playlist</a>
    <br>
    <a type="button" href="/auth_youtube">Authenticate with YouTube</a>
    <br>
    <a type="button" href="/populate">Populate YouTube playlist</a>
    <br>
    <a type="button" href="/crawl_start">Start crawling</a>
    <br>
    <a type="button" href="/crawl_stop">Stop crawling</a>
</body>
</html>